.shadow-card:hover{  
  box-shadow: 0 0px 5px 1px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;

}
.toc__list:before {
  content: "Table Of Contents";
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: -1.1rem;
 }
 
 .toc__list {
  border: 1px solid #eee;
  border-radius: 4px;
  line-height: 1.8rem;
  padding: 1rem 2.5rem;
  font-weight: 400;
  font-size: 0.9rem;
 }
 
 .toc__sublist li {
  padding-left: 1rem;
 }
 
 #toc a {
  color: #485460;
  text-decoration: none;
 }
 
 #toc a:hover {
  color: #1e272e;
 }

.list-group-item-light.list-group-item-action.active {
  color: #34495e;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
.sidebar-text{
  font-size: 0.9rem;
}